*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}
.flex-container1 {
    display: flex;
    background-color: #F3F3F3;
  }
  
  .flex-container1 > button {
    height: 33px;
    border: solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    position: relative;
    left: 70%;
    margin-left: 3%;
    font-size: 15px;
    transition: 0.4s;
  }


  
  .flex-container1 > button:hover{
    background-color: #F3F3F3;
    border: solid #F3F3F3 ;
    border-bottom: solid blue;
    text-shadow: 0.3px 0.3px black;
  }
  .flex-container2{
    display: flex;
    background-color: #FFFFFF;
  }
  .logo
  {
    border: solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    height: 30px;
    width: 105px;
    margin: 6%;
   
  }
  .flex-container2 > button{
    height: 33px;
    border: solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    color: #005AFF;
    position: relative;
    left: 5%;
    margin-left: 2%;
    margin-top: 1%;
    font-size: 14px;

  }
  .flex-container2 > button:hover
  {
   
    text-shadow: 0.3px 0.3px #005AFF;
  }
.language{
  
  font-size: 14px;
  height: 25px;
  width: 25px;
   position: relative;
   left: 300%;
}
.SearchIcon
{
  transform: scaleX(-1);
  height: 25px;
  width: 25px;
  position: relative;
   right: 300%;
}
.main{
  object-fit:none;
  height: 550px;
  width: 100%;
}
.H1
{ @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  width: 60%;
  color: white;
  font-size: 40px;
  position:absolute;
  bottom: 50%;
  left: 1.5%;
}
.P1{
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  width: 60%;
  color: white;
  font-size: 23px;
  position:absolute;
  bottom: 40%;
  left: 1.5%;
}
.main > button
{
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  width: 200px;
  border-radius: 4px;
  color: white;
  border:solid #005AFF;
  background-color: #005AFF;
  position:absolute;
  bottom: 23%;
  left: 1.5%;
  transition: 0.5s;

}

.main > button:hover
{
  border:solid #0049B4;
 background-color: #0049B4;
}
.Circle_B
{
  display: flex;
}
.Circle_B > button
{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  position:absolute;
  bottom: 5%;
  left: 1.5%;
  border: solid 1px white;
  background-color: #ffffff3d;
  color: #FFFFFF;
}

.chevron-left
{
  padding-top: 2px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
}
.chevron-right
{
  padding-top: 2px;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
}



.flex3
{
  display: flex;
  text-align: left;
}
.flex3 > img
{
  height: 50%;
  width: 50%;
  
}
.flex3 > div
{
  height: 50%;
  width: 50%;
  
}
.H2
{
  

  font-weight: 700;



  position: absolute;
  bottom: -49%;
  left: 4%;
}
.P2
{
  position: absolute;
  left: 4%;
  bottom: -70%;
  width: 40%;
  line-height: 1.7;
}
.flex3 > div > button
{
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 45px;
  width: 200px;
  border-radius: 4px;
  color: white;
  border:solid #005AFF;
  background-color: #005AFF;
  position:absolute;
  left: 4%;
  bottom: -85%;
  transition: 0.5s;
}
.flex3 > div > button:hover
{
  border:solid #0049B4;
  background-color: #0049B4;
}
.flex4
{
  display: flex;
  text-align: left;
}

.flex4 > img
{
  height: 50%;
  width: 50%;
  
}
.flex4 > div
{
  height: 50%;
  width: 50%;
  
}
.H3
{
  width: 95%;
  margin-top: 25%;
  margin-left: 8%;
}
.P3
{
  width: 85%;
  margin-top: 5%;
  margin-left: 8%;

  line-height: 1.7;
}
.flex4 > div > button
{
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

  
  font-size: 16px;
  font-weight: 700;

  height: 45px;
  width: 350px;

  border-radius: 4px;
  color: white;
  border:solid #005AFF;
  background-color: #005AFF;

  margin-top: 5%;
  margin-left: 8%;

  transition: 0.5s;
}
.flex4 > div > button:hover
{
  border:solid #0049B4;
  background-color: #0049B4;
}



.main2
{
  object-fit:cover;
  height: 320px;
  width: 100%;
}
.main2 > h1
{
   margin-top: -18%;
  margin-left: 1%;
  color: white;
}

.Circle_B2 > button
{
  margin-left: 1%;
  margin-top: 1%;

  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px white;
  background-color: #ffffff3d;
  color: #FFFFFF;
}



.flex5
{
  display: flex;
  text-align: left;
}
.flex5 > div
{
  margin-left: 1%;
  margin-top: -7%;
  height: 50%;
  width: 50%;
}
.flex5 > div > img
{
  
  height: 330px;
  width: 330px;
  border-radius:10px;
}
.flex5 > div > p
{
  
  margin-top: 2%;
  width: 330px;
  
}
.main3
{
  object-fit:fill;
  height: 550px;
  width: 100%;
  margin-top: 3%;
}

.main3 > h1
{
  margin-left: 1.5%;
  margin-top: -37%;
  font-size: 40px;
  color: white;
}
.main3 > P
{
  margin-left: 1.5%;
  font-size: 20px;
  margin-top: 2%;
  color: white;
}

.main3 > button
{
  
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

  
  font-size: 16px;
  font-weight: 700;

  height: 45px;
  width: 150px;

  border-radius: 4px;
  color: white;
  border:solid #005AFF;
  background-color: #005AFF;

  margin-top: 5%;
  margin-left: 1.5%;

  transition: 0.5s;
}
.main3 > button:hover
{
  border:solid #0049B4;
  background-color: #0049B4;
}

.Circle_B3
{
  margin-left: 1.5%;
  margin-top: 7%;
  display: flex;
  height: 50px;
  width: 150px;
  border-radius: 50%;
  border: solid 1px white;
  background-color: #ffffff3d;
  color: #FFFFFF;
}

.Circle_B3 > button
{

  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px white;
  background-color: #ffffff3d;
  color: #FFFFFF;
}
.moon
{
  
  margin-left: 0.5%;
  object-fit:contain;
  height: 100%;
  width: 99%;
  margin-top: 5%;
  border-radius: 5px;
}
.moon_texts > h1
{ font-size: 20px;
  margin-left: 1%;
}
.moon_texts > p
{ 
  font-size: 14px;
  margin-left: 1%;
  margin-top: 1%;
}

.main4
{
  object-fit:fill;
  height: 350px;
  width: 100%;
  margin-top: 3%;
}

.main4 > h1
{
  height: 35px;
  margin-left: 1.5%;
  margin-top: -20%;
  font-size: 30px;
  color: white;
}

.flex6
{
  display: flex;
  text-align: left;
}
.flex6 > div
{
  margin-left: 1%;
  margin-top: -7%;
  height: 50%;
  width: 50%;
}
.flex6 > div > img
{
  
  height: 330px;
  width: 330px;
  border-radius:10px;
}
.flex6 > div > p
{
  
  margin-top: 2%;
  width: 330px;
  
}
.lastMain
{
  object-fit:fill;
  height: 300px;
  width: 100%;
  margin-top: 2%;
}

.lastMain > h1
{ margin-top: -17%;
  margin-left: 2%;
  font-size: 23px;
  color: white;
}
.lastMain > p
{
  margin-left: 2%;
  font-size: 17px;
  color: white;
}

.lastMain > button{
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

  
  font-size: 16px;
  font-weight: 700;

  height: 45px;
  width: 220px;

  border-radius: 4px;
  color: #005AFF;
  border:solid white;
  background-color: white;

  margin-left: 2%;
 position: relative;
 bottom: -20%;
  transition: 0.5s;
}
.lastMain > button:hover{
  color: #0049B4;
  border:solid #efefef;
  background-color: #efefef;

}
.lastlogo
{ height: 100px;
  margin-top: 2%;

}
.logo2
{
  background-color: #ffffff00;
  border: #ffffff00;
height: 40px;
width: 90px;
margin-top: 3%;
margin-left: 3%;
}
.xett
{
  margin: auto;
  background-color: #C7C7C7;
  height: 1.5px;
  width: 95%;
}
.footer1 > p
{
  font-size: 15px;
  margin-left:2.5%;
  margin-top: 2%;
}
.footer1 > button
{

  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

  background-color: rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0); ;
  font-weight: 700;
  margin-left:2.5%;
  margin-top: 2%;
}
.footer2
{
  display: flex;
  text-align: left;
  margin-left:2.5%;
}
.footer2 > button
{
  border: rgba(255, 255, 255, 0);;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 3%;
  width: 200%;
  text-align: left
}
.footer3
{
  display: flex;
  text-align: left;
  margin-left:2.5%;
}
.footer3 > button
{ 
  border: rgba(255, 255, 255, 0);;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 1%;
  width: 200%;
  text-align: left
}
.footer4
{ 
  margin-top: 2%;
  width: 35%;
  display: flex;
  text-align: left;
  margin-left:2.5%;
}
.footer4 > button
{ 
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  
  color: #005AFF;
  border: rgba(255, 255, 255, 0);;
  background-color: rgba(255, 255, 255, 0);

  font-size: 16px;
  margin-top: 1%;
  width: 50%;
  text-align: left
}

.LastButton > button
{
  @import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  font-family: 'Carlito', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;

  
  font-size: 16px;
  font-weight: 700;

  height: 45px;
  width: 250px;

  border-radius: 4px;
  color: #005AFF;
  border:solid 1px #005AFF;
  background-color: white;
  margin-left:2.5%;
  margin-top: 2.5%;
 transition: 0.5s;}
.LastButton > button:hover
{
   color:#0049B4;
  border:solid 1px #0049B4;
}
.social
{
  display: flex;
  text-align: left;
  margin-left:1%;
  margin-top: 2%;
}
.social > button
{
  height: 45px;
  width: 45px;
  border:solid 1px #090909;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  margin-left:1.5%;
}
.social > button >img
{
  margin-top: 2px;
}
.NOKIA > p{
  color: #706B66;
  font-size: 13px;
  text-align: left;
  margin-left:2.7%;
  margin-top: 3%;

}
.end
{
  display: flex;
  text-align: left;
  margin-left:0.7%;
  margin-top: 2%;
}
.end > button
{
  color: #706B66;
  background-color:  rgba(255, 255, 255, 0);
  border: rgba(255, 255, 255, 0);
  margin-left: 2%;
}
.a{
  height: 50px;
}